<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="cn.com.liuyx.encoding.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="转码工作台"
            class="cn.com.liuyx.encoding.rcp.Perspective"
            id="cn.com.liuyx.encoding.rcp.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="cn.com.liuyx.encoding.rcp.application"
            name="encoding">
         <property
               name="aboutText"
               value="RCP Mail template created by PDE">
         </property>
         <property
               name="windowImages"
               value="icons/sample2.gif">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
         <property
               name="appName"
               value="encoding">
         </property>
      </product>
   </extension>

  <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="cn.com.liuyx.encoding.project"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="cn.com.liuyx.encoding.actions.GBK2UTF8ActionDelegate"
               id="cn.com.liuyx.gbk2utf8"
               label="GBK转UTF8"
               menubarPath="additions"
               style="push">
         </action>
         <action
               class="cn.com.liuyx.encoding.actions.UTF82GBKActionDelegate"
               id="cn.com.liuyx.utf82gbk"
               label="UTF8转GBK"
               menubarPath="additions"
               style="push">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="cn.com.liuyx.encoding.AddRequiredFeatures"
            nameFilter="*.product"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="cn.com.liuyx.encoding.actions.GBK2UTF8ActionDelegate"
               id="cn.com.liuyx.gbk2utf8"
               label="GBK转UTF8"
               menubarPath="additions"
               style="push">
         </action>
         <action
               class="cn.com.liuyx.encoding.actions.UTF82GBKActionDelegate"
               id="cn.com.liuyx.utf82gbk"
               label="UTF8转GBK"
               menubarPath="additions"
               style="push">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="cn.com.liuyx.encoding.file"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="cn.com.liuyx.encoding.actions.GBK2UTF8ActionDelegate"
               id="cn.com.liuyx.gbk2utf8"
               label="GBK转UTF8"
               menubarPath="additions"
               style="push">
         </action>
         <action
               class="cn.com.liuyx.encoding.actions.UTF82GBKActionDelegate"
               id="cn.com.liuyx.utf82gbk"
               label="UTF8转GBK"
               menubarPath="additions"
               style="push">
         </action>
      </objectContribution>
   </extension>
  <extension
        point="org.eclipse.ui.console.consoleFactories">
     <consoleFactory
           class="cn.com.liuyx.encoding.rcp.ConsoleFactory"
           label="转码控制台">
     </consoleFactory>
  </extension>

</plugin>
